/****************************
* General Layout
*****************************/

/*** Headings ***/
h1 {
    float: left;
    color: #E7E7E7;
}

h2 {
    margin: 0;
    color: #252525;
}

h3 {
    color: #001999;
    margin: 0;
    width: 150px;
}

    h3:nth-of-type(even) {
        float: right;
    }

    h3:nth-of-type(odd) {
        float: left;
    }

h4 {
    color: #3D3D3D;
}

/*** Other ***/
a {
    color: #001999;
}

    a.shortText {
        display: none;
    }

li {
    list-style-type: circle;
    line-height: 175%;
}

/**************************
* Definition List
****************************/
dl {
    margin: 10px 0px 30px 0px;
}

dt {
    color: #252525;
    margin-bottom: 10px;
    float: left;
    font-weight: bold;
    width: 125px;
}

dd {
    margin-left: 150px;
    margin-bottom: 10px;
}

/**************************
* Classes
****************************/

div.section {
    padding: 15px 0px;
    margin: 0;
    background: White;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #8D8D8D;
}

    div.section:nth-of-type(even) {
        background: #E7E7E7;
    }

    div.section > div.details, h2 {
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        max-width: 1000px;
        padding: 0px 10px;
    }

div.subSection {
    margin: 0px 0px 25px 0px;
    border-bottom: 1px solid #8D8D8D;
}

    div.subSection:nth-of-type(odd) {
        padding-left: 175px;
    }

    div.subSection:nth-of-type(even) {
        padding-right: 175px;
    }

    div.subSection:last-child {
        border-bottom: 0px solid transparent;
    }

div.details {
    box-sizing: border-box;
    max-width: 1000px;
    padding: 0px 10px;
}

p.explanation {
    padding: 0px 15px;
}

.keywords {
    font-style: italic;
}

.tagList {
    font-size: 120%;
}


/**************************
* Objects
****************************/

div#header {
    top: 0px;
    left: 0px;
    position: fixed;
    border-width: 0px 0px 10px 0px;
    border-style: solid;
    border-color: #ffc20e;
    width: 100%;
    background-color: #001999;
}

div#headerContent {
    box-sizing: border-box;
    max-width: 1000px;
    padding: 0px 10px;
    background-color: #001999;
    margin: 0 auto;
}

div#content {
    margin: 100px 0px 0px 0px;
    padding: 0;
}

div#languageBar {
    margin: 25px 0px 0px 0px;
    float: right;
    color: #E7E7E7;
}

.angular-google-map-container {
    height: 450px;
    display: table;
    width: 100%;
    padding-left : 0;
    padding-right : 0;
    background-color : #E7E7E7;
}

/**************************
* Mobile Devices
****************************/
@media only screen and (max-device-width: 750px) {
    body {
        font-size: 1.25em;
    }

    h3 {
        width: auto;
        padding-top: 15px;
    }

        h3:nth-of-type(even) {
            float: none;
        }

        h3:nth-of-type(odd) {
            float: none;
        }

    div#languageBar {
        display: block;
        font-size: 125%;
    }

        div#languageBar > select {
            font-size: 1.25em;
        }

    dt {
        font-size: 125%;
    }

    dd {
        margin-left: 130px;
    }

    a.shortText {
        display: block;
    }

    a.longText {
        display: none;
    }

    dd#longText {
        overflow: hidden;
    }

    div.section {
        border: 0px solid transparent;
    }

    div.subSection {
        padding: 0px 15px;
        border: 0px solid transparent;
    }

        div.subSection:nth-of-type(odd) {
            padding: 0px 15px;
        }

        div.subSection:nth-of-type(even) {
            padding: 0px 15px;
        }
}

/**************************
* Print adjustments 
****************************/
@media print {
    div#languageBar {
        display: none;
    }

    div#header {
        position: absolute;
    }

    h3 {
        width: auto;
        padding-top: 15px;
    }

        h3:nth-of-type(even) {
            float: none;
        }

        h3:nth-of-type(odd) {
            float: none;
        }

    div.section {
        border: 0px solid transparent;
    }

    div.subSection {
        padding: 0px 15px;
        border: 0px solid transparent;
    }

        div.subSection:nth-of-type(odd) {
            padding: 0px 15px;
        }

        div.subSection:nth-of-type(even) {
            padding: 0px 15px;
        }
}
