.development-knowledges {
  .technologies {
    @media only screen and (max-width: 768px) {
      padding-top: 0;
      padding-bottom: 0;

      table thead {
        display: none;
      }
    }

    &:first-child {
      @media only screen and (max-width: 768px) {
        table {
          border-bottom: 1px solid hsl(0, 0%, 86%);
          thead {
            display: table-header-group;
          }
        }
      }
    }

    .technology-level {
      width: 4rem;
    }

    .technology-usage {
      width: 6rem;
    }

    th, td {
      vertical-align: baseline !important;
      padding: 0.2rem !important;
    }
  }


  @media print {
    th, td {
      padding: 0.1rem !important;
    }
  }
}
